@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <Toolbar OnAddIdea="HandleAddIdea" />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="sticky-footer">
        <div class="footer-content">
            © @DateTime.Now.Year Copyright by Christian Angermeier
        </div>
    </footer>
</div>

@code {
    private void HandleAddIdea()
    {
        Navigation.NavigateTo("/Idea/new");
    }
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
